#
# RMM image
#
image:
  ota: "ecgwc/helm-ota-worker"
  rmm: "ecgwc/helm-rmm-worker"
  portal: "ecgwc/helm-rmm-portal"
imageTag:
  ota: "1.0.30"
  rmm: "1.0.81"
  portal: "1.0.81"
#
# PostgreSQL administrator
#
postgresql:
  username: postgres
  password: "8hrSW7BcPs"
#
# Server_Config.xml
#
serverConfig:
  webServer:
    host: "localhost"
    port: 8080
  brokerServer:
    receive:
      type: "AMQP"
      host: "dev-rmq-rabbitmq-ha"
      port: 5672
      account: "admin"
      password: "TU19FXp28oqx+q8/EoIO/lJrGmiwGAi/bse8ogeIYzY="
      vhost: "/"
      tenant: "+"
      ssl: false
    send:
      type: "MQTT"
      host: "dev-rmq-rabbitmq-ha"
      port: 1883
      account: "admin"
      password: "TU19FXp28oqx+q8/EoIO/lJrGmiwGAi/bse8ogeIYzY="
      vhost: "/"
      tenant: "WISE-PaaS"
      ssl: false
  dbServer:
    sql:
      postgresql:
        host: "dev-psql-postgresql"
        port: 5432
        database: "wisepaas"
    nosql:
      dialect: "mongo"
      mongo:
        # NOTE:
        #   if mongo uses replicaset, not using array here.
        #   Instead, uses string with ';' as the delimiter.
        host: "dev-mongo-mongodb-replicaset-0.dev-mongo-mongodb-replicaset;dev-mongo-mongodb-replicaset-1.dev-mongo-mongodb-replicaset;dev-mongo-mongodb-replicaset-2.dev-mongo-mongodb-replicaset"
        port: "27017;27017;27017"
        database: "WISE-PaaS"
        ssl: false
      influx:
        url: "http://localhost:8086"
        database: "WISEPaaS"
      hbase:
        url: "jdbc://localhost:12345"
        database: "WISEPaaS"

